// Confirm buttons.
$primaryColor: #139745;
// Cancel buttons.
$secondaryColor: #e62c14;
// Text color.
$textColor: #202020;
// background color.
$backgroundColor: #f9f9f9;

body {
    background-color: $backgroundColor;
}

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
p {
    color: $textColor;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.search__form {
    #search {
        width: 100%;
        border: 1px solid $textColor;
        padding: 1em;
    }
}
.columns {
    display: grid;
    padding: .6em;
    grid-template-columns: 1fr 1fr 1fr 10% 10%;
    border-bottom: 1px solid black;
    p {
        font-weight: bold;
    }
}
.user {
    padding: 1em;
    width: 60%;
    margin: 1em auto;
    background-color: white;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 10% 10%;
        border-bottom: 1px solid rgb(235, 235, 235);
        padding: .6em;
        &:nth-child(odd) {
            background-color: $backgroundColor;
        }
    }
    &__edit {
        color: $primaryColor;
        padding-top: .6em;
        margin-left: .4em;
    }
    &__delete{
        color: $secondaryColor;
        padding-top: .6em;
        margin-left: 1em;
    }
}
.page__wrapper {
    margin-top: 1em;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}
.page__number-wrapper {
    justify-self: end;
}
.page__change-btn {
    display: inline-block;
    border: 1px solid black;
    width: auto;
    height: 2em;
    text-align: center;
    padding: .4em .4em;
    margin: 0 .2em;
    color: $textColor;
    text-decoration: none;
}
.page__number {
    display: inline-block;
    border: 1px solid black;
    width: 2em;
    height: 2em;
    text-align: center;
    padding: .4em 0;
    margin: 0 .2em;
    color: $textColor;
    text-decoration: none;
}
.active {
    display: inline-block;
    color: #139745;
    border: 2px solid #139745;
}
.new__user {
    display: inline-block;
    text-decoration: none;
    color: $primaryColor;
    padding: 0.6em;
    border: 2px solid $primaryColor;
}

.confirmation__message {
    position: absolute;
    padding: 1em;
    top: 1em;
    width: 90%;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    background-color: $primaryColor;
    animation: confirm_animation 400ms 2000ms ease-in-out forwards;
}
.confirmation__message-delete {
    position: absolute;
    padding: 1em;
    top: 1em;
    width: 90%;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    background-color: $secondaryColor;
    animation: confirm_animation 400ms 2000ms ease-in-out forwards;
}

@keyframes confirm_animation {
    to {
        opacity: 0;
    }
}